
<ul>
    {{#each burgers}}
       <li>{{id}}. {{burger_name}}</li> 
    {{/each}}
</ul>



<input id="newBurger" value="this is value">
    Burger: 
</input>

<button type="submit" id="submit">
    Submit
</button>

<script>
    $("#sumbit").on("click", function (){
        console.log("helloe");
    })
</script>