
<ol class="newBurgers">
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devour=true}}
        {{/unless}}
    {{/each}}
</ol>

<ol class="devouredBurgers">
    {{#each burgers}}
        {{#if devoured}}
            <li> 
                {{burger_name}} 
            </li>
        {{/if}}
    {{/each}}
</ol>


<input id="newBurger">
    Burger: 
</input>

<button type="submit" id="submit">
    Add new Burger
</button>
