
<ol class="newBurgers">
    {{#each burgers}}
        {{#unless devoured}}
            <li> {{burger_name}} 
                <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
		            Devour
	            </button>
            </li>
        {{/unless}}
    {{/each}}
</ol>

<ol class="devouredBurgers">
    {{#each burgers}}
        {{#if devoured}}
            <li> 
                {{burger_name}} 
            </li>
        {{/if}}
    {{/each}}
</ol>


<input id="newBurger" value="this is value">
    Burger: 
</input>

<button type="submit" id="submit">
    Submit
</button>
